.card {
  display: flex;
  height: 60vh;
  width: 60vw;
  border: 1px solid #ccc;
  justify-content: space-between;
  scroll-snap-align: center;
  scroll-padding-left: 50%;
  scroll-padding-right: 50%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
}

.card-image {
  width: 50%;
  height: auto;
  object-fit: contain;
  justify-self: left;
  border: 1px solid yellow;
}

