.horizontal-scroll {
  position: relative;
  height: 500vh;
  max-width: 100vw;
  scroll-snap-align: start;
  --snap-steps: 8;
  --scroll-range: calc(100% - 100vh);
  --snap-step: calc(var(--scroll-range) / var(--snap-steps));
}
.scroll-content {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden; 
  background-color: aliceblue;
}

.scroll-item {
    display: flex;
    flex: 0 0 auto;
    scroll-snap-align: center;
    gap: 1rem;
    border: 1px solid green;
}

.scroll-snap {
    position: absolute;
    top: 0;
    left: 0;
  height: var(--snap-step);
    width: 100vw;
    background: repeating-linear-gradient(
    135deg,
      rgba(255, 0, 150, 0.08),
      rgba(255, 0, 150, 0.08) 40px,
      rgba(0, 200, 255, 0.08) 40px,
      rgba(0, 200, 255, 0.08) 80px
    );
    z-index: 900;
    scroll-snap-align: start end;
}

.snap-stack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
}

.snap-stack .scroll-snap:nth-child(1) {
  top: calc(0 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(2) {
  top: calc(1 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(3) {
  top: calc(2 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(4) {
  top: calc(3 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(5) {
  top: calc(4 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(6) {
  top: calc(5 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(7) {
  top: calc(6 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(8) {
  top: calc(7 * var(--snap-step));
}

.snap-stack .scroll-snap:nth-child(9) {
  top: calc(8 * var(--snap-step));
}